<h1>Pages#home</h1>

<div class="row">
    <div class="col-md-4">
        <% @rooms.each do |room| %>
            
            <%= link_to room_path(room.id) do %>
                <%= image_tag room.images[0] if room.images.attached? %>
                <%= room.listing_name %> 
            <% end %>
        <% end %>
        
    </div>
</div>
